.contenedor{
    background-color: rgb(255, 255, 255);
    margin: 80px;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.contenedorInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 50px;
}

.stepsTitle{
    font-weight: 25px;

}

.image{
    margin-top: 100px;
    width: 500px;
}
.healthScore{
    display: flex;
    align-items: center;
    background-color: #5a9b51 ;
    width: 85px;
    height: 45px;
    text-align: center;
    color: white;
    
}