.falseBody{
    justify-content: center;
    align-items: center;
}
.cardsContainer{
    margin: 50px;
    background-color: #ffffff;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}

.logo{
    margin-top: 30px;
    height: 85px;
}
.img2{
    Object-fit: cover;
    width: 100%;
    max-height: 300px;
}
.title{
        font-family: 'DM Sans', sans-serif;;
        font-size: 52px;
        font-weight: 800;
        line-height: 1;
        margin-bottom: 30px;
        margin-left: -3px;
        color: rgb(27, 27, 27);
}
.parrafo{
        font-family: Helvetica, sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin: -10px;
        color: #2e2e2e;
}
.nav{
    width: 100%;
    height: 25px;
    background-color: #5a9b51;
}

.containerOrder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
}

.containerSelect{
    padding: 20px;
}

.containerCosasIn{
    margin-top: 80px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.section{
    object-fit: cover;
    width: 100%;
    height: 500px;

}
.select{
    text-align: center;
    background-color: #f37c27;
    height: 30px;
    border: white;
    text-decoration: none;
    font-family:  Helvetica, sans-serif;
    font-weight: 700;
    color: white;

}

.buttonFilter{
    cursor:pointer;
    background-color: #5a9b51;
    color: #ffffff;
    border: 0px;
    font-weight: 600;
    height: 40px;
    width: 75px;
    margin-bottom: 80px;
}